#version: '3.8'

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    ports:
      - "5433:5432" 

  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"

  web:
    build: .
    
    # --- A CORREÇÃO ESTÁ AQUI ---
    # Trocamos 'runserver' pelo 'daphne' (servidor ASGI)
    command: daphne -b 0.0.0.0 -p 8000 barbearia_projeto.asgi:application
    # ---------------------------

    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis

volumes:
  postgres_data: